
.chart_box{
 padding: 20px;
 border: 1px solid lightgray;
 background-color: #000000;
 border-radius: 25px;
 border: none;

}
.main_dashboard{
 padding: 40px;
 background-color: #212F3C ; 

}
.invent_text{
  color: #ffff;
  font-size: 25px;
  font-weight: 500;
  margin-top: 0;

}

.a_cont{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product_heading{
 text-align: center;  
 padding: 10px;
 font-size: 30px;
 border-radius: 35px;
 background: black;
 color: #ffff;
 margin-bottom: 40px;
 font-weight: 500;
 
}


.tl_sale{
 color: #fff;
 text-align: center;
}
.sales_ch{
 display: flex;
}
.lorem_text{
  font-size: 14px;
  color: #fff;
 line-height: 20px;
}

.de_table{
  display: flex;
  justify-content: center;

}
.gl_data{
font-size: 14px;
font-weight: 300;
line-height: 4px;
background: #212F3C ;
padding: 8px 8px;
border-radius: 25px;
color: blue;


}

